/* Start footer */
.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 80px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #4E596C;
    padding: 0;
}

ul li a,
.footer-socials a {
    text-decoration: none;
    color: inherit;
}

ul li a:hover,
.footer-socials a:hover {
    color: #0D7DFC;
}

.footer--title,
.footer-contact__logo {
    margin-bottom: 10px;
}

.footer--title {
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.footer-contact__group {
    display: flex;
    gap: 20px;
    align-items: self-start;
}

.footer-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 80px 0;
}

.footer-below span{
    color: #7F7D7A;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.footer-socials {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-socials a {
    color: #FFF;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #1D293F;
    border-radius: 50%;
}

.footer-socials i {
    font-size: 16px;
}