<footer>
    <div class="footer-content">
    <ul class="footer-contact">
        <li class="footer-contact__group footer-contact__logo">
            <img src="/images/logo-funix.png" alt="logo">
        </li>
        <li class="footer-contact__group">
            <i class="fa-solid fa-location-dot"></i>
            <span>Tầng 0, tòa nhà FPT, 17 Duy Tân, Q. Cầu Giấy, Hà Nội</span>
        </li>
        <li class="footer-contact__group">
            <i class="fa-solid fa-envelope"></i>
            <span>info@funix.edu.vn</span>
        </li>
        <li class="footer-contact__group">
            <i class="fa-solid fa-phone"></i>
            <span>0782313602 (Zalo, Viber)</span>
        </li>
    </ul>
    <ul class="footer-info">
        <li class="footer--title">
            Về chúng tôi
        </li>
        <li><a href="https://funix.edu.vn/gioi-thieu-funix">Giới thiệu FUNiX</a></li></li>
        <li>
            <a href="https://funix.edu.vn/mentor/">Đội ngũ Mentor</a>
        </li>
        <li>
            <a href="https://funix.edu.vn/hop-tac/">Hợp tác</a>
        </li>
        <li>
            <a href="https://funix.edu.vn/lien-he/">Liên hệ</a>
        </li>
        <li>
            <a href="https://funix.edu.vn/faq-2/">FAQ</a>
        </li>
    </ul>
    <ul class="footer-programs">
        <li class="footer--title">Học gì ở FUNiX</li>
        <li>
            <a href="https://funix.edu.vn/chuong-trinh-hoc-funix/">Chương trình học</a>
        </li>
        <li>
            <a href="https://funix.edu.vn/hoc-phi/">Học phí</a>
        </li>
        <li>
            <a href="https://funix.edu.vn/phuong-phap-hoc-truc-tuyen-hieu-qua/">Cách Học</a>
        </li>
        <li>
            <a href="https://events.funix.edu.vn/xter">Đời sống sinh viên</a>
        </li>
    </ul>
    <ul class="footer-news">
        <li class="footer--title">Tin tức</li>
        <li>
            <a href="https://funix.edu.vn/funix-activities/">Học đường</a>
        </li>
        <li>
            <a href="https://events.funix.edu.vn/">Sự kiện</a>
        </li>
    </ul>
    </div>
    <div class="footer-below">
        <span>
            ©2024. All rights reserved. FUNiX - A member of FPT Corporation - funix.edu.vn
        </span>
        <div class="footer-socials">
            <a href="https://www.facebook.com/funix.fpt">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://x.com/FunixJapan?mx=2">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/@funixfpt">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
    </div>
</footer>
<!-- End Footer -->
