<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/emoji.css">
</head>

<body>
    <main>
        <!-- Start Header -->
        <header>
            <a href="https://funix.edu.vn" class="header-logo">
                <img src="/images/logo-funix.png" alt="logo">
            </a>
            <div class="header-info">
                <a href="https://funix.edu.vn/lien-he">
                    <button class="header-info__btn">Contact Us</button>
                </a>
            </div>
        </header>
        <!-- End Header -->

        <!-- Start banner -->
        <section class="gs-banner">
            <div class="gs-banner-right">
                FUNiX rất mong muốn được biết
                về trải nghiệm của từng học viên
                để cải tiến và nâng cao chất lượng từng ngày!
            </div>
          
            <div class="gs-banner-left">
              <img src="/images/banner.png" alt="banner" >
            </div>
          
            <div class="gs-banner-ellipse1">
              <img src="../public/images/Ellipse 1.png" alt="ellipse" >
            </div>
            <div class="gs-banner-ellipse2">
              <img src="../public/images/Ellipse 2.png" alt="ellipse" >
            </div>
            <div class="gs-banner-ellipse3">
              <img src="../public/images/Ellipse 3.png" alt="ellipse" >
            </div>
        </section>
        <!-- End banner -->
        <div class="survey-content">
        <!-- information classroom -->
        <div class="info-class">
            <h4 class="survey-title">Thông tin sau buổi học:</h4>
            <div class="info-class__table" id="data_table">
                <!-- data subject -->
            </div>
            
        </div>

        
            <!-- level interest -->
            <div class="rating-face">
                <h4 class="survey-title">
                    Hãy cho FUNiX biết mức độ hài lòng của bạn về buổi học: <span>(*)</span>
                </h4>

                    <!-- /////////Start rating///////////// -->
                    <div class="e-rating">
                        <div class="e-rating__faces">
                        <div class="e-rating__face e-rating__face--1" onclick="handleChose(event,'very_dissatisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <div class="e-rating__tear"></div>
                            <div class="e-rating__tear"></div>
                            <span class="e-rating__title">Rất tệ</span>
                        </div>
                        <div class="e-rating__face e-rating__face--2" onclick="handleChose(event,'dissatisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Tệ</span>
                        </div>
                        <div class="e-rating__face e-rating__face--3" onclick="handleChose(event,'so_so')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Bình thường</span>
                        </div>
                        <div class="e-rating__face e-rating__face--4" onclick="handleChose(event,'satisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Tốt</span>
                        </div>
                        <div class="e-rating__face e-rating__face--5" onclick="handleChose(event,'very_satisfied')">
                            <div class="e-rating__face-inner">
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__eye"></div>
                            <div class="e-rating__mouth"></div>
                            </div>
                            <span class="e-rating__title">Tuyệt vời</span>
                        </div>
                        </div>
                    </div>
                    <!-- End Rating -->
            </div>
            <div class="survey-noted display-none">
                <h4 class="survey-title--desc">
                    Ghi chú:
                </h4>
                <div id="content-noted"></div>
            </div>
        <div class="form-survey">
            <!-- Info review -->
            <div class="info-review">
                <h4 class="survey-title--desc">
                    Vui lòng chia sẻ lý do tại sao:
                </h4>
                <div class="info-review__input">
                    <textarea rows="5" name="description"></textarea>
                </div>
            </div>

            <div class="btn-confirm">
                <div class="error-message"></div>
                <button onclick="handleSubmit()">Gửi đánh giá</button>
            </div>

        </div>
        <div class="footer-helper">Nếu có bắt cứ vướng mắc gì, vui lòng gửi mail cho itsupport@funix.edu.vn</div>
        <div class="inline"></div>
    </div>

    <%- include('../includes/footer.ejs') %>

    <!-- Popup -->
    <div id="popup-msg" class="display-none">
        <div class="popup-content">
            <i class="btn-close fa-regular fa-circle-xmark"></i>
            <div id="popup-content"></div>
        </div>
    </div>
</main>

<script src="../js/zalo/index.js"></script>

</body>
</html>