<%- include('../includes/head.ejs') %>
</head>
<body>

         <!-- Start banner -->
        <section class="gs-banner">
            <img src="/images/banner.png" alt="banner" >
        </section>
        <!-- End banner -->

        <!-- Start Form -->
        <div class="zalo-form">
            <div class="form-group">
                <label for="username">Họ tên</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="phone-number">Số điện thoại</label>
                <input type="number" name="phone-number" id="phone-number">
            </div>

            <div class="btn-confirm">
                <div class="error-message"></div>
                <button id="btn-submit">Gửi thông tin</button>
            </div>
            <!-- <div class="inline"></div> -->
        </div>
        <!--  End Form -->
        
        <!-- <%- include('../includes/footer.ejs') %> -->

        <!-- Popup -->
        <div id="popup-msg" class="display-none">
            <div class="popup-content">
                <i class="btn-close fa-regular fa-circle-xmark"></i>
                <div id="popup-content"></div>
            </div>
        </div>

    </main>

<script src="../js/zalo/index.js"></script>

</body>
</html>